<!-- Détail de la fiche élève -->
<div class="listing-box-plus" *ngIf="activeId">
  <div class="student-card">
    <div class="reduce-button">
      <button (click)="seeLess()">Reduire</button><!-- TODO mettre "retour" à la place  -->
    </div>
    <div *ngFor="let student of students">
      <div class="view" *ngIf="student.id == activeId">
        <!-- Profile -->
        <div class="profile">
          <div class="profile-photo">
            <!--<img *ngIf="student.photo == null" [src]="/img/noImage.png" width="200px"/> <!-- FIXME -->
            <img *ngIf="student.photo" src="{{student.photo}}" alt="photo" width="200px"/>
          </div>
          <div class="profile-name">
            <h2>{{student.firstname}} {{student.lastname}}</h2>
            <p>Né(e) le {{student.birthDate.date | date:"dd/MM/yy"}}</p>
          </div>
        </div>
        <!-- Coordonnées -->
        <div class="address">
          <div class="profile-entete">
            <h3>Coordonées</h3>
          </div>
          <p>Adresse: {{student.address}}</p>
          <p>Tél: {{student.phone}}</p>
          <p>A contacter en cas d'urgence: {{student.emergencyContact}}</p>
          <p>Email :{{student.email}}</p>
        </div>
        <!-- Skills -->
        <div class="skills">
          <div class="profile-entete">
            <h3>Compétences</h3>
          </div>
          <p>Compétences</p>
          <div>
            <p>Site : <a href="{{student.personalProject}}" alt="website"></a></p>
          </div>
        </div>
        <!-- Social Medias -->
        <div class="social-medias">
          <div class="profile-entete">
            <h3>Réseaux Sociaux</h3>
          </div>
          <p>Github : <a href="{{student.github}}">{{student.github}}</a></p>
          <p>LinkedIn : <a href="{{student.linkedin}}">{{student.linkedin}}</a></p>
        </div>

      </div>
    </div>
  </div>
</div>


<!-- Aperçu Listing de la Home -->
<div class="listing-box" *ngIf="students">
  <div class="students-finder">
    <input  type="text" placeholder="Rechercher">
  </div>
  <table>
    <thead>
    <tr>
      <th></th>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Email</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of students" [@flyInOut]="student.state">
      <td class="listing-photo">
        <img *ngIf="student.photo" src="{{student.photo}}" alt="photo student" width="100px">
      </td>
      <td>{{student.firstname}}</td>
      <td>{{student.lastname}}</td>
      <td>{{student.email}}</td>
      <td class="options">
        <button class="details" (click)="seeMore(student.id)"> détails</button>
        <button (click)="deleteStudent()">X</button>
      </td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="!students">
    <p>Pas de promo actuellement</p>
  </div>


</div>
