.listing-box
  max-width: 90%
  margin: auto
  font-family: sans-serif
  .students-finder
  table
    min-width: 90%
    margin: auto
    margin-top: 7%

    border-collapse: collapse
    thead
      background-color: #3F51B5
      color: #FFF
      tr

        th
          padding: 1.5%
          text-align: center

    tbody
      tr
        border-bottom: 1px solid rosybrown
        vertical-align: baseline

        td
          padding: 2%
          text-align: center

        .options
          display: flex
          justify-content: space-around
          align-items: center
          .details
            background-color: #03A9F4
          button
            background-color: crimson
            padding: 7px 15px
            color: #FFF
            border: none
            border-radius: 5px

.listing-box-plus
  max-width: 90%
  margin: auto
  font-family: sans-serif
  display: flex
  justify-content: space-around

  .student-card
    width: 50%
    .reduce-button
      button
        background-color: crimson
        padding: 7px 15px
        color: #FFF
        border: none
        border-radius: 5px
    div
      .view
        display: flex
        justify-content: space-around
        .infos
          h3
          p
        .address
          h3
          p
