

.header-admin
	display: flex
	min-width: 100%
	justify-content: space-around
	background-color: #eef2f3
	align-items: center
	font-family: sans-serif

.admin-home
	h2
		font-family: 'Montserrat', sans-serif
.logout
	button
		background-color: crimson
		padding: 7px 15px
		color: #FFF
		border: none
		border-radius: 5px
		outline: none
